* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", "Roboto", sans-serif;
    font-size: 12px;
}

window {
    background-color: rgba(32, 38, 46, 0.2);
    color: #E9E8E8;
    font-weight: bolder;
    letter-spacing: 0.3px;
}

#workspaces {
    margin: 4px;
    margin-left: 5px;
}

#workspaces button {
    border-radius: 4px;
    margin-right: 5px;
    background-color: transparent;
}

#workspaces button:hover {
    background-color: rgba(233, 232, 232, 0.1);
}

#workspaces button.active {
    background-color: rgba(233, 232, 232, 0.2);
}

#custom-window {
    margin: 4px;
    border-radius: 4px;
    padding: 0px 6px;
}

#custom-window:hover {
    background-color: rgba(233, 232, 232, 0.1);
}

#status {
    margin: 4px;
    margin-right: 5px;
}

#status * {
    padding: 0px 6px;
    border-radius: 4px;
}

#status *:hover {
    background-color: rgba(233, 232, 232, 0.1);
}

#pulseaudio.muted { color: #f53c3c; }
#battery.charging { color: #2ecc71; }